{% extends 'base.html' %}

{% block content %}
  <main class="mt-5">
    <section class="container">
      {% if standardized_data %}
      <div class="table-responsive my-5">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      {% for column in columns %}
                          <th>{{ column }}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  {% for row in standardized_data %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      {% for value in row %}
                          <td>{{ value }}</td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  {% else %}
      <p>No standardized data available.</p>
  {% endif %}
    </section>
  </main>
{% endblock content %}
