{% extends 'base.html' %}

{% block content %}
  <main class="mt-5">
    <section class="container">
      <div style="width: 800px;"><canvas id="graph"></canvas></div>
    </section>
  </main>

  <script>
    const myChart = new Chart(document.getElementById('graph'), {
      type: 'bar',
      data: {
        labels: [
          'Akurasi',
          'Presisi',
          'Recall',
        ],
        datasets: [
          {
            label: 'Test',
            data: [
              {{ accuracy }},
              {{ precision }},
              {{ recall }},
            ],
            backgroundColor: [
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
              'rgba(75, 192, 192, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  </script>
{% endblock content %}
