<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SGB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/" {% if request.path == '/' %}aria-current="page"{% endif %}>Data Test</a>
        <a class="nav-link {% if request.path == '/data-train' %}active{% endif %}" href="/data-train" {% if request.path == '/data-train' %}aria-current="page"{% endif %}>Data Train</a>
        <a class="nav-link {% if request.path == '/correlation' %}active{% endif %}" href="/correlation" {% if request.path == '/correlation' %}aria-current="page"{% endif %}>Correlation</a>
        <a class="nav-link {% if request.path == '/predict' %}active{% endif %}" href="/predict" {% if request.path == '/predict' %}aria-current="page"{% endif %}>Prediction</a>
        <a class="nav-link {% if request.path == '/graph' %}active{% endif %}" href="/graph" {% if request.path == '/graph' %}aria-current="page"{% endif %}>Graph</a>
        <a class="nav-link {% if request.path == '/index/person' %}active{% endif %}" href="/index/person" {% if request.path == '/index/person' %}aria-current="page"{% endif %}>Data</a>
      </div>
    </div>
  </div>
</nav>
